<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here  url 'djangoapp:signup' -->
        <div class="container">
            <h1>Sign Up</h1>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input class="form-control" type="text" name="firstname">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" type="text" name="lastname">
                    <label for="username">User Name</label>
                    <input class="form-control" type="text" name="username">
                    <label for="psw">Password</label>
                    <input class="form-control" type="password" placeholder="Enter pass:" name="psw">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            {% if message %}
            <div class="alert alert-warning">{{message}}</div>
            {% endif %}
        </div>
    </body>
</html>
